/*Global properties*/
$fonts: Ralewa	y, sans-serif !important;
$label-font: Raleway, sans-serif !important;
$font-size: 14px;
$shadow-color: black;
$control-palette: #6BA1D1;
$label-color: lighten($control-palette, 20);
$background-color: darken($control-palette, 20);
$label-selected-color: darken($control-palette, 40);
$background-selected-color: lighten($background-color, 50);


// functions
@mixin pad($x){
	padding: $x;
}

body{
	margin: 0px;
}

.map {

	overflow: hidden;

	img {
	position: fixed;
	top: 0;
	left: 0;
	}
}

.layer-buttons{
display: block;
	background-color:$background-color;
	position: absolute;
	// padding: 5px;
	margin: 5px;
	padding: 3px;

	span.label {
    font-family: $label-font;
    font-size: 1.6em;
    display: block;
    cursor: pointer;
    float: left;
    @include pad(0.3em);
		color: $label-color;
		text-shadow:none;
		background-color: $background-color;
		border-radius:3px;
		margin-right: 4px;

		&.last {
			margin-right: 0px;
		}

		}

	span.label.selected {
    color: $label-selected-color;
		text-shadow: none;
		background-color: $background-selected-color;
	}

	span.selected:hover {
    //color: darken($label-selected-color, 20%) ;
	}

	span:hover {
    color: lighten($label-color, 20%);
    left: 0.1em;
	}
}

.close{
	background: none;
	border: none;
}
