/*Global properties*/
$fonts: Raleway, sans-serif !important;
$label-font: Raleway, sans-serif !important;
$font-size: 14px;
$shadow-color: black;
$control-palette: #FFF;
$label-color: #000;
$background-color: #31302B;
$label-selected-color: $control-palette;
$background-selected-color: rgba(24,95,158,1);

// functions
@mixin pad($x) {
  padding: $x;
}
body {
  margin: 0;
}
#imageDisplayArea {
  position: absolute;
  img {
    display: none;
    width: 100%;
    height: auto;
    opacity: 0;
    }
  img.selected {
    display: block;
    opacity: 1;
    transition: opacity 0.8s linear;
  }
}
/* toggle switch */
.onoffswitch {
  position: absolute;
  width: 14%;
  height: 8%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 85%;
  left: 80%;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  padding: 0;
  border: 2px solid #CCC;
  border-radius: 42px;
  background-color: #185F9E;
  transition: background-color 0.1s linear;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 44%;
  margin: 0;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55%;
  border: 2px solid #CCC;
  border-radius: 42px;
  transition: all 0.15s ease-in;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #185F9E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #E0E0E0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}
/* Title Label */
#title-box {
  position: absolute;
  top: 0px;
}
.title {
  float: left;
  font-family: $label-font;
  font-size: 3.2vw;
  cursor: pointer;
  @include pad(0.3em);
  color: rgba(#FFF, 0.3);
  text-shadow: none;
  background-color: rgba(24,95,158,0.3);
  border-radius: 3px;
  margin-right: 4px;
  z-index: 1;
  -webkit-transition: background-color ease 0.8s;
  -moz-transition: background-color ease 0.8s;
  transition: background-color ease 0.8s;
  -webkit-transition: color ease 0.8s;
  -moz-transition: color ease 0.8s;
  transition: color ease 0.8s;
}

.title:hover{
    color: #FFF;
}
.selected{
  display: block;
  color: $label-selected-color !important;
  text-shadow: none;
  background-color: $background-selected-color !important;
}

// image pic responsive
.pic{
  width: 100%;
  height: auto;
}
